.body {
  padding: 0 0 80px 0;
  @media(max-width: 719.98px) {
    padding: 0 0 40px 0;
  }
}

.info {
  display: flex;
  justify-content: flex-end;
  column-gap: 72px;
  @media(max-width: 719.98px) {
    flex-direction: column-reverse;
    row-gap: 20px;
    align-items: center; 
  }
}

.subtitle {
  max-width: 457px;
  font-weight: 400;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
  align-self: center;
  @media(max-width: 719.98px) {
    font-size: 14px;
  }
}

.title {
  @include title(366px);
  @media(max-width: 719.98px) {
    font-size: 48px;
  }
}
.block {
  padding: 54px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.block__up {
  display: flex;
  justify-content: flex-end;
  column-gap: 25px;
  @media(max-width: 719.98px) {
    flex-direction: column;
    row-gap: 25px;
  }
}

.item__up {
  padding: 44px 0 27px 28px;
  flex: 0 1 612px;
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  border-radius: 30px;
  @media(max-width: 719.98px) {
    flex: none;
    max-width: 612px;
  }
  &_one {
    background: url('../../assets/img/item1.png')  no-repeat;
    background-position: center;
    object-fit: cover;
  }
  &_two {
    background: url('../../assets/img/item2.png')  no-repeat;
    background-position: center;
    object-fit: cover;
  }
}

.title_item {
  max-width: 240px;
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  color: #fff;
  &_big {
    max-width: 296px
  }
  @media(max-width: 719.98px) {
    font-size: 24px;
  }
}

.btn_item {
  padding: 20px 55px;
  align-self: flex-start;
  border-radius: 83px;
  background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  font-weight: 600;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.03em;
  color: #d9d9d9;
  cursor: pointer;
  @media(max-width: 719.98px) {
    font-size: 18px;
    padding: 10px 35px;
  }
}

.block__down {
  display: flex;
  justify-content: flex-end;
  column-gap: 24px;
  @media(max-width: 1005.98px) {
    flex-direction: column;
    row-gap: 25px;
  }
}

.item__down {
  padding: 44px 0 23px 23px;
  flex: 0 1 400px;
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  border-radius: 30px;
  @media(max-width: 1005.98px) {
    flex-basis: auto;
    max-width: 400px;
  }
  &_one {
    background: url('../../assets/img/item3.png') no-repeat;
    background-position: center;
    object-fit: cover;
  }
  &_two {
    background: url('../../assets/img/item4.png') no-repeat;
    background-position: center;
    object-fit: cover;
  }
  &_three {
    background: url('../../assets/img/item5.png') no-repeat;
    background-position: center;
    object-fit: cover;
  }
}