.body {
  padding: 34px 66px 31px 38px;
  background: $bg-main;
  position: relative;
  z-index: 1;
  row-gap: 112px;
  @media(max-width: 582.98px)  {
    padding: 0px 25px;
  }
}

.upblock {
  padding: 0 0 112px 0;
  display: flex;
  justify-content: space-between;
  @media(max-width: 1179.98px)  {
    flex-direction: column-reverse;
    align-items: center;
    row-gap: 26px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 54px;
  @media(max-width: 719.98px) {
    row-gap: 36px;
  }
}

.title {
  @include title(543px);
  position: relative;
  z-index: -1;
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 320px;
    height: 320px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(175.5px);
  }
  @media(max-width: 719.98px) {
    font-size: 48px;
  }
}

.text {
  @include text(555px);
  @media(max-width: 719.98px) {
    font-size: 12px;
  }
}
.buttons {
  display: flex;
  gap: 16.36px;
}
.btn {
  @include btn(20px 78px);
  @media(max-width: 719.98px) {
    padding: 13px 52px;
    font-size: 16px;
  }
  @media(max-width: 427.98px) {
    padding: 5px 30px;
    font-size: 16px;
  }
}

.btnMore {
  padding: 20px 54px;
  font-weight: 400;
  font-size: 24px;
  line-height: 146%;
  letter-spacing: -0.03em;
  color: $color-main;
  border-radius: 83px;
  background: #121517;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid $color-main;
  cursor: pointer;
  @media(max-width: 719.98px) {
    padding: 13px 36px;
    font-size: 16px;
  }
  @media(max-width: 427.98px) {
    padding: 10px 29px;
    font-size: 16px;
  }
}

.properties {
  display: flex;
  column-gap: 46px;
  @media(max-width: 719.98px) {
    column-gap: 30px;
  }
}

.property {
  max-width: 127px;
  display: flex;
  flex-direction: column;
  row-gap: .52px;
  &__count {
    font-weight: 400;
    font-size: 62px;
    line-height: 109%;
    letter-spacing: -0.03em;
    color: #fff;
    @media(max-width: 719.98px) {
      font-size: 41px;
    }
    & span {
      background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 144%;
    letter-spacing: -0.02em;
    color: $color-main;
    @media(max-width: 719.98px) {
      font-size: 12px;
    }
  }
}

.image {
  max-width: 472px;
  transform: translate(0, -80px);
  position: relative;
  z-index: 1;
    &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 229px;
    height: 229px;
    border-radius: 100%;
    background: rgba(217, 217, 217, 0.3);
    filter: blur(124.04166412353516px);
  }
    &::before {
    content: '';
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
    width: 324px;
    height: 324px;
    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(175.5px);
  }
  & img {
    width: 100%;
    height: auto;
  }
  & .lines {
    position: absolute;
    z-index: -1;
    top: 240px;
    left: -140px;
    width: 910px;
      @media(max-width: 582.98px)  {
        width:400px;
        top: 30%;
        left: 0px;
      }
  }
  @media(max-width: 1179.98px)  {
    transform: translate(0, 0);
  }
}

.downBlock {
  display: flex;
  margin: 0 auto;
  padding: 51px 78px 36px 78px;
  max-width: 1029px;
  z-index: 1;
  justify-content: space-between;
  position: relative;
  border-radius: 46px;
  background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);

  &__item {
    flex: 0 1 227px;
    max-width: 227px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media(max-width: 719.98px) {
       flex: 0 1 169px;
       max-width: 169px;
    }
  }

  &__img {
    margin: 0 0 9px 0;
    width: 100%;
    @media(max-width: 719.98px) {
      width: 127px;
    }
  }

  &__title {
    margin:0 0 4px 0;
    font-weight: 500;
    font-size: 32px;
    line-height: 163%;
    letter-spacing: -0.02em;
    color: #121517;
    @media(max-width: 719.98px) {
      font-size: 18px;
    }
  }
  &__subtitle{
    max-width: 210px;
    font-weight: 400;
    font-size: 20px;
    line-height: 163%;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(18, 21, 23, 0.9);
    @media(max-width: 719.98px) {
      font-size: 11px;
    }
  }

  &__star {
    padding: 35px 0px;
    width: 154px;
    height: 154px;
    position: absolute;
    z-index: 2;
    left: -77px;
    top: -77px;
    background: url('@/assets/img/star.png') no-repeat;
    background-position: center;
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    @media(max-width: 719.98px) {
      left: 200px;
      top: -40px;
      padding: 28px 0 0 15px;
      width: 93px;
      height: 93px;
      background: url('@/assets/img/star2.png') no-repeat;

    }
    & p {
      max-width: 99px;
      font-weight: 500;
      font-size: 32px;
      line-height: 86%;
      letter-spacing: -0.02em;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      @media(max-width: 719.98px) {
        max-width: 50px;
        font-size: 18px;
      }
    }
  }

  @media(max-width: 719.98px) {
    padding: 29px 42px;
    max-width: 260px;
    flex-direction: column;
    align-items: center;

  }
}

