.body {
  padding: 48px 0 0 38px;
  background-color: $bg-main;
  display: flex;
  column-gap: 94px;
}

a {
  text-decoration: none;
}

.logo {
  font-weight: 800;
  font-size: 37px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  align-self: center;
}

.menu {
  display: flex;
  column-gap: 94px;
}

.item {
  font-weight: 400;
  font-size: 19px;
  color: $color-main;
}