.body {
  background-color: $bg-main;
  padding: 38px 6px 27px 24px ;
  @media(max-width: 1179.98px)  {
    padding: 21px 25px;
  }
}

.block {
  padding: 0 0 89px 0;
  display: flex;
  justify-content: space-between;
  @media(max-width: 1179.98px)  {
    padding: 0 0 36px 0;
    flex-wrap: wrap;
    row-gap: 36px;
  }
}

.menu {
  display: flex;
  column-gap: 84px;
  @media(max-width: 1179.98px)  {
    order: 1;
    flex: 1 1 100%;
    column-gap: 74px;
    row-gap: 30px;
    flex-wrap: wrap;
}
}

.logo {
  font-weight: 800;
  font-size: 37px;
  line-height: 109%;
  letter-spacing: -0.03em;
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media(max-width: 719.98px)  {
      font-size: 25px;
  }
}

.name {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #bbb3b3;
  @media(max-width: 719.98px)  {
      font-size: 15px;
  }
}

.items {
    padding: 8px 0 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.link {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: rgba(187, 179, 179, 0.43);
  @media(max-width: 719.98px)  {
    font-size: 15px;
  }
}

.extra {
  display: flex;
  justify-content: space-between;
}

.up {
  background-color: transparent;
  cursor: pointer;
  @media(max-width: 719.98px)  {
     width: 53px;
  }
}

.iconup {
  width: 100%;
}

.tel {
  align-self: center;
  font-weight: 500;
  font-size: 26px;
  background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @media(max-width: 719.98px)  {
      font-size: 16px;
  }
}

.icon {
  @media(max-width: 719.98px)  {
     width: 32px;
  }
}
